<html lang="EN">
<head>
    <meta charset="UTF-8">

    <title>Reverber</title>

</head>
<body>
    <h1>Reverber</h1>
    <form action="/reverb" method="POST">
        <label>
            Enter the URL to reverb:
            <input type="text" name="url">
        </label>

        Other Settings:
        <label>
            Echo Delay
            <input type="number" name="delay" min="0" max="1000" step="5" value="20">
        </label>
        <label>
            Echo Decay
            <input type="number" name="decay" min="0" max="1" step="0.01" value="0.5">
        </label>
        <label>
            Echo Out Gain
            <input type="number" name="out_gain" min="0" max="1" step="0.01" value="0.7">
        </label>
        <label>
            Tempo Scale
            <input type="number" name="tempo" min="0" max="2" step="0.01" value="0.85">
        </label>

        <input type="submit">
    </form>

</body>
</html>
